<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/form">
        <input type="date" name="dob" id="">
        <input type="text" name="gender" id="">
        <input type="text" name="address" id="">
        <input type="checkbox" name="courses1" id="course1"><label for="course1">python</label>
        <input type="checkbox" name="courses2" id="course2"><label for="course1">js</label>
        <input type="checkbox" name="courses3" id="course3"><label for="course1">java</label>
        <button type="submit">submit</button>
    </form>
    {% if err %}
        <script>alert('{{err}}');</script>
    {% endif %}
    
</body>
</html>